.mr_4 {
    margin-right: 4px;
}
.mt_8 {
    margin-top: 8px;
}
.mb_8 {
    margin-bottom: 8px;
}
.ml_8 {
    margin-left: 8px;
}
.ml_16 {
    margin-left: 16px;
}
.ml_auto {
    margin-left: auto;
}
.mx_auto {
    margin-left: auto;
    margin-right: auto;
}
.my_16 {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}
.my_8 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}
.p_0 {
    padding: 0;
}
.p_8 {
    padding: 8px !important;
}
.progress_container {
    position: "relative";
    z-index: 1000000;
    height: 4px;
}
.flex {
    display: flex;
}
.flex_col {
    flex-direction: column;
}
.flex_wrap {
    flex-wrap: wrap;
}
.space_between {
    justify-content: space-between;
}
.align_items_center {
    align-items: center;
}
.justify_content_center {
    justify-content: center;
}
.justify_content_start {
    justify-content: flex-start;
}
.flex_1 {
    flex: 1;
}
.full_width {
    width: 100%;
}
.full_height {
    height: 100%;
}
.full_screen {
    height: 100vh;
    width: 100vw;
}
.more_actions {
    top: 8px !important;
    right: 8px !important;
    min-width: 128px !important;
}
@keyframes bounce {
    0% {
        opacity: 0;
        transform: translate(0px, 64px);
        height: 100%;
        width: 100%;
    }
    60% {
        opacity: 1;
        transform: translate(0px, -16px);
        height: 106%;
        width: 106%;
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
        height: 100%;
        width: 100%;
    }
}
@-webkit-keyframes bounce {
    0% {
        opacity: 0;
        transform: translate(0px, 64px);
        height: 100%;
        width: 100%;
    }
    60% {
        opacity: 1;
        transform: translate(0px, -16px);
        height: 106%;
        width: 106%;
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
        height: 100%;
        width: 100%;
    }
}
@-moz-keyframes bounce {
    0% {
        opacity: 0;
        transform: translate(0px, 64px);
        height: 100%;
        width: 100%;
    }
    60% {
        opacity: 1;
        transform: translate(0px, -8px);
        height: 106%;
        width: 106%;
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
        height: 100%;
        width: 100%;
    }
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}